{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/responsive.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

<style>
thead, tbody { display: block; }
tbody {
    width: 100%;
    height: 300px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
#lista_equipos{
	font-size: 70%;
}
</style>
<h2>Historico de casos</h2>
<h3>Tomados de la conciliaci&oacute;n mensual</h3>
<div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">Casos</a></li>
            <li><a href="#tab2default" data-toggle="tab">Estadisticas</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
		<span class="glyphicon glyphicon-cloud-download"></span>

		<table class="table table-striped" id="lista_equipos" class="articles">
		  <tr>
		    <th>SR</th>
		    <th>Equipo</th>
		    <th>Ing Telmex</th>
		    <th>Ing Cisco</th>
		    <th>Fecha</th>
		    <th>Responsable</th>
		    <th>Cod. Cierre</th>
		    <th>Sub tipo</th>
		    <th>&nbsp;</th>
		  </tr>

		  {% for casos in tabla %}
		  <tr>
		    <td><a href="http://mwz.cisco.com/{{ casos.sr }}" target="_blank">{{ casos.sr }}</a></td>
		    <td>{{ casos.clli  }}</td>
		    <td>{{ casos.ing_telmex }}</td>
		    <td>{{ casos.ing_cisco }}</td>
		    <td>{{ casos.fecha }}</td>
		    <td>{{ casos.responsable }}</td>
		    <td>{{ casos.codigo_cierre }}</td>
		    <td>{{ casos.subtipo }}</td>
		    <td><span class="glyphicon glyphicon-plus" onclick="toggleArticles('case{{ forloop.counter }}')"></span></td>

		  </tr>
		  <tr style="visibility:collapse" id="case{{ forloop.counter }}" class="fullarticle">
		    <td>&nbsp;</td>
		    <td colspan="5">
		      <div>
		        <strong>Descripci&oacute;n:</strong>{{ casos.problema }}<br><br>
			<strong>Soluci&oacute;n:</strong>{{ casos.diagnostico }}
		      </div>
		    </td>
		    <td>&nbsp;</td>
		  </tr>
		  {% endfor %}
		</table>

	    </div>
	    <div class="tab-pane fade in" id="tab2default">
		<table style="width: 800px">
		<tbody>
		  <tr>
		    <td style="width: 400">Responsable<br><canvas id="doughnutChart"></canvas></td>
		    <td style="width: 400"></td>
		  </tr>
		  <tr>
		    <td style="width: 400">C&oacute;digo de Cierre - CISCO<br><canvas id="doughnutChart3"></canvas></td>
		    <td style="width: 400">C&oacute;digo de Cierre - Telmex<br><canvas id="doughnutChart4"></td>
		  </tr>
		</tbody>
		</table>
	    </div>
	    </div>
	</div>
</div>
<script>
function toggleArticles(articleID) {
    $(".fullarticle").css('visibility', 'collapse');             // this hides all currently open articles (if any);
    $("#"+ articleID).css('visibility', 'visible');            // show article
}

//doughnut
var ctxD = document.getElementById("doughnutChart").getContext('2d');

var ctxD3 = document.getElementById("doughnutChart3").getContext('2d');
var ctxD4 = document.getElementById("doughnutChart4").getContext('2d');

var myLineChart = new Chart(ctxD, {
    type: 'doughnut',
    data: {
        labels: [{% for estad in tabla2 %} 
		"{{ estad.responsable2  }}",
		{% endfor %}],
        datasets: [
            {
                data: [{% for estad in tabla2 %} 
		{{ estad.cantidad  }},
		{% endfor %}],
                backgroundColor:      ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#0066ff", "#99ffcc", "#ffce00", "#4a0065", "#bd0000"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#6699ff", "#ccffcc", "#ffe783", "#6300b8", "#ff6700"]
            }
        ]
    },
    options: {
        responsive: true,
    		legend: {
   		   position: 'bottom',
    		},
		tooltips: {
     		 callbacks: {
    		    label: function(tooltipItem, data) {
   		     	var dataset = data.datasets[tooltipItem.datasetIndex];
   		        var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
    		        return previousValue + currentValue;
    		      });
    		      var currentValue = dataset.data[tooltipItem.index];
    		      var precentage = Math.floor(((currentValue/total) * 100)+0.5);
    		      return currentValue + " - (" + precentage + "%)";
		    }
    		 }
   	       }
    }
});
var myLineChart3 = new Chart(ctxD3, {
    type: 'doughnut',
    data: {
        labels: [{% for estad in tabla4 %} 
		"{{ estad.codigo_cierre }}",
		{% endfor %}],
        datasets: [
            {
                data: [{% for estad in tabla4 %} 
		{{ estad.cantidad  }},
		{% endfor %}],
                backgroundColor:      ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#0066ff", "#99ffcc", "#ffce00", "#4a0065", "#bd0000"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#6699ff", "#ccffcc", "#ffe783", "#6300b8", "#ff6700"]
            }
        ]
    },
    options: {
        responsive: true,
    		legend: {
   		   position: 'bottom',
    		},
		tooltips: {
     		 callbacks: {
    		    label: function(tooltipItem, data) {
   		     	var dataset = data.datasets[tooltipItem.datasetIndex];
   		        var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
    		        return previousValue + currentValue;
    		      });
    		      var currentValue = dataset.data[tooltipItem.index];
    		      var precentage = Math.floor(((currentValue/total) * 100)+0.5);
    		      return currentValue + " - (" + precentage + "%)";
		    }
    		 }
   	       }
    }
});
var myLineChart4 = new Chart(ctxD4, {
    type: 'doughnut',
    data: {
        labels: [{% for estad in tabla5 %} 
		"{{ estad.codigo_cierre }}",
		{% endfor %}],
        datasets: [
            {
                data: [{% for estad in tabla5 %} 
		{{ estad.cantidad  }},
		{% endfor %}],
                backgroundColor:      ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#0066ff", "#99ffcc", "#ffce00", "#4a0065", "#bd0000"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#6699ff", "#ccffcc", "#ffe783", "#6300b8", "#ff6700"]
            }
        ]
    },
    options: {
        responsive: true,
    		legend: {
   		   position: 'bottom',
    		},
		tooltips: {
     		 callbacks: {
    		    label: function(tooltipItem, data) {
   		     	var dataset = data.datasets[tooltipItem.datasetIndex];
   		        var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
    		        return previousValue + currentValue;
    		      });
    		      var currentValue = dataset.data[tooltipItem.index];
    		      var precentage = Math.floor(((currentValue/total) * 100)+0.5);
    		      return currentValue + " - (" + precentage + "%)";
		    }
    		 }
   	       }
    }
});



</script>